
@font-face {
    font-family: 'champagne__limousinesBdIt';
    src: url('../fonts/champagne__limousines_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/champagne__limousines_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'champagne__limousinesbold';
    src: url('../fonts/champagne__limousines_bold-webfont.woff2') format('woff2'),
         url('../fonts/champagne__limousines_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'champagne__limousinesitalic';
    src: url('../fonts/champagne__limousines_italic-webfont.woff2') format('woff2'),
         url('../fonts/champagne__limousines_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('../fonts/champagne__limousines-webfont.woff2') format('woff2'),
         url('../fonts/champagne__limousines-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2{
font-family: 'champagne__limousinesregular';
text-align: center;

}

#scroller {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}



.navtop{

  margin-bottom: 0px;
    border-top: 0.3em solid #3e8acc;
    font-family: 'champagne__limousinesbold';
    border-radius: initial;
}
.section2 .container-fluid{
    padding-left: 8%;
    padding-right: 8%;

}

.list-inline{
    font-size: 0.8em;

}

.panel-body{
    min-height:12em;
    max-height:12em;
    padding: 1px 15px ;
    overflow:visible;

}
.panel-text{
    max-height: 4em;
    min-height: 4em;
    overflow: hidden;
}
.section1{
    background-color: #cccccc;
    min-height: 95vh;
    background-image: url(https://unsplash.it/1920/1080/?random);
    width:100%;
}
.section1 button{

height: 3.5em;


}

.section2{
    min-height:78.7vh;

}
.section2 h2 {
padding:2em 0;
}


.centered{
padding-top: 35vh;

}


.footer {

    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.container .text-muted {
    margin: 20px 0;

}
.contactform{
margin-top: 10vh;

}
legend{
  font-size:2em;
padding-top: 2em;

}
.navbar-bottom {
    font-size: 0.9em;

    width: 100%;
    min-height: 50px;
    background-color: #2c2c2c;
    margin-bottom: 0px;
    color:#FFFFFF;
    border-bottom: 0.6em solid #3e8acc;
      text-align: center;
      border-radius: initial;

}
.navbar-bottom li {
  padding-top: 10px;
  list-style-type:none;

}
.navbar-bottom a {

      text-decoration: underline;
      color: #ffffff;
  }

  .navbar-bottom a:hover{
      color: #3e8acc;
  }


footer{

    width: 100%;
}
#cote{
    margin-top: 1.6em;
}

#P{
    font-size: 0.8em;
    margin-top: 2.2em;
}
#acs{
    margin-top: 20px;
    padding-bottom: 1em;
    width: 20em;
    height: 75px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
