{% include 'head.twig' %}
{% include 'navbar.twig' %}

<div class="container">
    <h2>404 - La page est introuvable :(</h2>
    <i class="fa fa-bug fa-5x" aria-hidden="true"></i>
</div>

{% include 'footer.twig' %}
{% include 'foot.twig' %}
