
{% if userdata.registered == 1 %}
<form action="{{ settings.basepath }}comment/post/" method="POST">

	<div class="col-xs-12">
		<label for="resume">Commentaire :</label>
		<textarea name="comment" class="form-control " rows="5" id="comment"></textarea>
	</div>

	<input type="hidden" name="report_id" value="{{ results.prim_key }}">
	<div class="form-group">
		<label class="control-label" for="singlebutton"></label>
		<div class="row">
			<button id="singlebutton" name="singlebutton" class="btn btn-info pull-right">Commenter</button>
		</div>
	</div>

</form>
{% endif %}

{% if userdata.registered == 0 %}
	<p class="">Veuillez vous connecter pour écrire un commentaire !</p>
{% endif %}
