{% include 'head.twig' %}
{% include 'navbar.twig' %}
<section class="section1">
<legend>Nous contacter</legend>
  <form class="form-horizontal container-fluid">
    <fieldset class="contactform">

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="nom">Nom</label>
        <div class="col-md-4">
        <input id="nom" name="nom" type="text" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="email">E-mail</label>
        <div class="col-md-4">
        <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="message">Message</label>
        <div class="col-md-4">
          <textarea rows="6" cols="100" class="form-control" id="message" name="message">Votre message</textarea>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-lg btn-primary btn-info">Envoyer</button>
        </div>
      </div>

    </fieldset>
  </form>
</section>


{% include 'footer.twig' %}
{% include 'foot.twig' %}
