<footer>
	<nav class="navbar navbar-inverse navbar-bottom text-center" >
		<div class="container" id="cont">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-4" id="cote">
					<ul>
						<li><a href="#">Recherche</a></li>
						<li><a href="#">Report</a></li>
						<li><a href="#">Spam Awards</a></li>
   					</ul>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4" id="mid">
					<img id="acs" src="{{ settings.basepath }}view/img/logo_ACS_slide.png">
					<p id="P">Léo.G / Stéphane.D / Olivier.L / Valentin.r </p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4" id="cote">
					<ul>
						<li><a href="#">Annuaire</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Création de compte</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</footer>
