<footer>
	<nav class="navbar navbar-inverse navbar-bottom text-center" >
		<div class="container" id="cont">
<<<<<<< HEAD
			<div class="row">
				<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4" id="cote">
=======
			<div class="">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="cote">
>>>>>>> 7913c7c820c5910ab0fff92001df621bd968a60b
					<ul>
						<li><a href="/spamreportv2/">Recherche</a></li>
						<li><a href="/spamreportv2/report/">Report</a></li>
						<li><a href="/spamreportv2/">Spam Awards</a></li>
   					</ul>
				</div>
<<<<<<< HEAD
				<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4" id="mid">
					<img id="acs" src="{{ settings.basepath }}view/img/logo_ACS_slide.png">
					<p id="P">Léo.G / Stéphane.D / Olivier.L / Valentin.r </p>
				</div>
				<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4" id="cote">
=======
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="mid">
					<img id="acs" src="{{ settings.basepath }}view/img/logo_ACS_slide.png">
					<p id="P">Léo.G / Stéphane.D / Olivier.L / Valentin.r </p>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center " id="cote">
>>>>>>> 7913c7c820c5910ab0fff92001df621bd968a60b
					<ul>
						<li><a href="">Annuaire</a></li>
						<li><a href="/spamreportv2/contact/">Contact</a></li>
						<li><a href="/spamreportv2/subscribe/">Création de compte</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</footer>
