<footer class="container-fluid">
    <div class="col-md-4">
        <h4></h4>
        Sitemap
        Contact
        Legal
        Truc
    </div>
    <div class="col-md-4">
        Machin
    </div>
    <div class="col-md-4">
        Bidule
    </div>
</footer>