<footer class="footer">
	<nav class="navbar navbar-inverse navbar-bottom" id="navbot" style="padding:0 0 120px 0">
        <div class="container">
            <div class="row">
                <div class="offset-col-sm-1 col-sm-4 text-center" id="cote">
                    <div class="col-sm-4" style="margin-top: 1.4em">
                        <p>Recherche</p>
                        <p>Report</p>
                        <p>Spam Awards</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center" id="mid">
                    <img src="../view/img/logo_ACS_menu.png">
                    <p style=" font-size: 0.9em">Léo.G / Stéphane.D / Olivier.L / Valentin.r </p>
                </div>
                <div class="col-sm-4 text-center" id="cote" style="margin-top: 1.6em">
                    <p>Annuaire</p>
                    <p>Contact</p>
                    <p>Création de compte</p>
                </div>
            </div>
        </div>
    </nav>
</footer>
