{% include 'head.twig' %}
{% include 'navbar.twig' %}

<section class="section2 col-xs-12">
    <div class="container">

        <h2 class="text-center">En construction :)</h2>
    </div>


</section>
{% include 'footer.twig' %}
{% include 'foot.twig' %}
