{% include 'head.twig' %}
{% include 'navbar.twig' %}
  <section>
      {%  include 'search.twig' %}
  </section>
  <section>
    <h2>Spam Awards</h2>
      {% include 'box.twig' %}
  </section>
 {% include 'foot.twig' %}