{% include 'head.twig' %}
{% include 'navbar.twig' %}
  <section class="section1">
      {%  include 'search.twig' %}
      <i class="fa fa-angle-double-down fa-4x  stick-bot " aria-hidden="true"></i>
  </section>
  <section class="section2 col-xs-12">
   <div class="container">

    <h2 class="text-center">Spam Awards</h2>
    </div>

    <div class="row container-fluid" id="box">

      {% include 'box.twig' %}
    </div>
  </section>

{% include 'footer.twig' %}
{% include 'foot.twig' %}
