{% include 'head.twig' %}
{% include 'navbar.twig' %}
  <section class="section1">

      {%  include 'search.twig' %}
  </section>
  <section class="section2 col-xs-12">
   <div class="container">

    <h2 class="text-center">Spam Awards</h2>
    </div>

    <div class="row container-fluid">

      {% include 'box.twig' %}


          </div>
  </section>
 {% include 'foot.twig' %}
