{% include 'head.twig' %}
{% include 'navbar.twig' %}

<form action="{{ settings.basepath }}login/" method="POST">
	<input type="text" name="pseudo">
	<input type="password" name="password">
	<button type="submit">Go !</button>
</form>


{% include 'footer.twig' %}
{% include 'foot.twig' %}
