 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
       <div class="navbar-header">
          <a class="navbar-brand" href="/spamreportv2/">SPAM REPORTER</a>
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/spamreportv2/report">Signaler</a></li>
          <li><a href="/spamreportv2/contact">Nous contacter</a></li>
          <li><a href="/spamreportv2/annuaire">Annuaire</a></li>
        </ul>
<!-- Conditionner avec login et if twig -->
  <!-- Si login -->
        <ul class="nav navbar-nav navbar-right">
          <li>Bonjour { pseudo }.</li>
          <li><a href="#">Se déconnecter</a></li>
        </ul>
  <!-- else -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Se connecter</a></li>
        </ul>

        </div>
    </div>
  </nav>
