<form action="vote/vote.html">
    <button name="vote" value="1" type="submit">VERT</button>
    <button name="vote" value="-1" type="submit">ROUGE</button>
    <button name="vote" value="0" type="submit">JAUNE</button>
</form>
