
<div class="container-fluid centered">
<form class="" method="post" >
   <div class="form-group" >
       <script type="text/javascript">
            $(document).ready(function() 
                {
                    $(".js-example-basic-single").select2();
                });
       </script>
     <div class="col-md-2 col-md-offset-1" >
         {% include 'indicatifs.html' %}
      
       </div>

        <div class="col-md-7 col-md-offset-1 ">
        <input type="text" class="form-control" placeholder="Rechercher un numéro" > 
        <br>            
        </div>
        
             
   </div>
   <button type="submit" class="btn btn-info btn-lg col-md-2 col-md-offset-4">Rechercher</button>
</form>
</div>


   