
<div class="container-fluid centered">
<form action="{{ settings.basepath }}search/" method="post" >
   <div class="form-group">
     <div class="col-xs-12 col-md-2 col-md-offset-1" >
         {% include 'indicatifs.html' %}

       </div>

        <div class="col-xs-12 col-md-8 col-md-offset-1">

            <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher un numéro">
        <br>

        </div>


   </div>
   <button type="submit" class="btn btn-info btn-lg col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">Rechercher</button>
</form>
</div>
