<form method="POST" action="sub">

    <input type="text" name="first" placeholder="Prénom">
    <input type="text" name="last" placeholder="Nom">
    <input type="text" name="pseudo" placeholder="Pseudo">
    <input type="email" name="mail" placeholder="Email">
    <input type="password" name="password" placeholder="Password">

    <input type="submit">


</form>